In [1]:
import pandas as pd
import random
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC

In [2]:
df = pd.read_csv('query_file.csv',header=0)

In [3]:
df.head()

     Label                  Query
0  abruzzo                abruzzo
1  abruzzo  abruzzo accommodation
2  abruzzo    abruzzo attractions
3  abruzzo        abruzzo calgary
4  abruzzo           abruzzo club

In [4]:
df['category_id'] = df['Label'].factorize()[0]
category_id_df = df[['Label', 'category_id']].drop_duplicates().sort_values('category_id')
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'Label']].values)
df.tail()

          Label                Query  category_id
1104903  zurich       zx10r kawasaki         2220
1104904  zurich  zyka indian cuisine         2220
1104905  zurich            zymol wax         2220
1104906  zurich            zym photo         2220
1104907  zurich              zyoptix         2220

In [5]:
tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(1, 2), stop_words='english',max_features = 5000)
tfidf.fit(df.Query)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='latin-1',
                input='content', lowercase=True, max_df=1.0, max_features=5000,
                min_df=5, ngram_range=(1, 2), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words='english', strip_accents=None,
                sublinear_tf=True, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [33]:
one_hot = pd.get_dummies(df['Label'])

In [34]:
one_hot

,??d?,?le-de-france,abruzzo,academic conferences & publications,acapulco,accident & personal injury law,accounting & auditing,accounting & finance jobs,accounting & financial software,acting & theater,...,youth camps,youth organizations & resources,yucat?n,yucat?n peninsula,yunnan,zambia,zhejiang,zimbabwe,zoos-aquariums-preserves,zurich
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104903,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1104904,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1104905,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1104906,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1104907,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [38]:
ohv = scipy.sparse.csr_matrix(one_hot.values)

In [6]:
features = tfidf.fit_transform(df.Query)

In [7]:
labels = df.category_id

In [51]:
'''Features'''
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import label_binarize

'''Classifiers'''
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestRegressor

'''Metrics/Evaluation'''
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_curve, auc, confusion_matrix
from scipy import interp
from itertools import cycle
import scipy

In [45]:
X_train, X_test, y_train, y_test = train_test_split(features, 
                                                    ohv, 
                                                    test_size = .01, 
                                                    shuffle = True,
                                                    random_state = 3)

In [52]:
clf = RandomForestRegressor()
clf.fit(X_train, y_train)

ValueError: setting an array element with a sequence.

In [16]:
y_pred = clf.predict(X_test)

In [49]:
X_train

<1093858x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 3145312 stored elements in Compressed Sparse Row format>

In [18]:
accuracy_score(y_test, y_pred)

0.4546606334841629