In [18]:
import pandas as pd
import random
import scipy
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC

In [19]:
df = pd.read_csv('query_file.csv',header=0)

In [20]:
df.head()

     Label                  Query
0  abruzzo                abruzzo
1  abruzzo  abruzzo accommodation
2  abruzzo    abruzzo attractions
3  abruzzo        abruzzo calgary
4  abruzzo           abruzzo club

In [21]:
df['category_id'] = df['Label'].factorize()[0]
category_id_df = df[['Label', 'category_id']].drop_duplicates().sort_values('category_id')
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'Label']].values)
df.tail()

          Label                Query  category_id
1104903  zurich       zx10r kawasaki         2220
1104904  zurich  zyka indian cuisine         2220
1104905  zurich            zymol wax         2220
1104906  zurich            zym photo         2220
1104907  zurich              zyoptix         2220

In [22]:
tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(1, 2), stop_words='english',max_features = 5000)
tfidf.fit(df.Query)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='latin-1',
                input='content', lowercase=True, max_df=1.0, max_features=5000,
                min_df=5, ngram_range=(1, 2), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words='english', strip_accents=None,
                sublinear_tf=True, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [23]:
one_hot = pd.get_dummies(df['Label'])

In [24]:
one_hot

,??d?,?le-de-france,abruzzo,academic conferences & publications,acapulco,accident & personal injury law,accounting & auditing,accounting & finance jobs,accounting & financial software,acting & theater,...,youth camps,youth organizations & resources,yucat?n,yucat?n peninsula,yunnan,zambia,zhejiang,zimbabwe,zoos-aquariums-preserves,zurich
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104903,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1104904,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1104905,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1104906,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1104907,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [25]:
ohv = scipy.sparse.csc_matrix(one_hot.values)

In [26]:
features = tfidf.fit_transform(df.Query)

In [27]:
labels = df.category_id

In [28]:
'''Features'''
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import label_binarize

'''Classifiers'''
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestRegressor

'''Metrics/Evaluation'''
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_curve, auc, confusion_matrix
from scipy import interp
from itertools import cycle
import scipy

In [29]:
X_train, X_test, y_train, y_test = train_test_split(features,
                                                    labels,
                                                    test_size = .01, 
                                                    shuffle = True,
                                                    random_state = 3)
#    features,  ohv, 
# df['Query'],  df['Label'],

In [13]:
clf = RandomForestClassifier(max_depth = 20)
clf.fit(X_train, y_train)

# count_vect = CountVectorizer()
# X_train_counts = count_vect.fit_transform(X_train)
# tfidf_transformer = TfidfTransformer()
# X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
# clf = RandomForestRegressor()

# clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=20, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [14]:
y_pred = clf.predict(X_test)

In [15]:
X_train

<1093858x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 3145312 stored elements in Compressed Sparse Row format>

In [16]:
accuracy_score(y_test, y_pred)

0.17936651583710408

In [30]:
classifier = SGDClassifier()
classifier.fit(X_train, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [31]:
 y_pred = classifier.predict(X_test)

In [32]:
X_train

<1093858x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 3145312 stored elements in Compressed Sparse Row format>

In [33]:
accuracy_score(y_test, y_pred)

0.45429864253393665

In [35]:
import pickle

In [36]:
filename = 'finalized_sgdclassifier.pkl'
pickle.dump(classifier, open(filename, 'wb'))

In [38]:
loaded_model = pickle.load(open(filename, 'rb'))

AttributeError: 'SGDClassifier' object has no attribute 'accuracy_score'

In [39]:
filename2= 'tfidf_features.pkl' 
pickle.dump(features, open(filename2, 'wb'))